<div class="payment-grid">
    <div class="payment-card">
      <i class="fab fa-cc-visa payment-icon"></i>
      <p>Pagamento rápido e seguro <br></p>
    </div>
    <div class="payment-card">
      <i class="fas fa-credit-card payment-icon"></i>
      <p>Até 10x sem juros</p>
    </div>
    <div class="payment-card">  
      <i class="fab fa-cc-paypal payment-icon"></i>
      <p>Parcelamento sem cartão</p>
    </div>
    <div class="payment-card">
      <i class="fab fa-cc-amex payment-icon"></i>
      <p>Via Pix</p>
    </div>
  </div>
