    <div class="content">
        <div class="slides">
            <input type="radio" name="slide" id="slide1">
            <input type="radio" name="slide" id="slide2">
            <input type="radio" name="slide" id="slide3">
            <input type="radio" name="slide" id="slide4">
            <input type="radio" name="slide" id="slide5">


            <div class="slide s1"><img src="assets\Bw.jpg" alt=""></div>
            <div class="slide"><img src="assets\1.jpg" alt=""></div>
            <div class="slide"><img src="assets\2.jpg" alt=""></div>
            <div class="slide"><img src="assets\3.jpg" alt=""></div>
            <div class="slide"><img src="assets/4.jpg" alt=""></div>

        </div>
    </div>
