.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 800px;
    margin: 20px auto;
    margin-top: -55%;
    margin-right: 33%;
}

.category {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.category:hover {
    background-color: #ddd;
}

.category i {
    margin-bottom: 10px;
    font-size: 24px;
}

.category span {
    display: block;
}

  .row{
    margin-left: -1%;
  }
  
  .categorias{
    margin: 0 auto;
  }
  
  .card {
    position: relative;
    width: 300px;
    height: 350px;
    background: #122936;
    border-radius: 20px;
    overflow: hidden;
    right: 100px;
    margin: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,10000);
  }
  
  .card:before {
    content: '';
    position: absolute;
    top: -40%;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    transform: skew(345deg);
    transition: 0.5s;
  }
  
  .card:hover::before {
    transform: skewY(390deg);
    top: -70%;
  }
  
  .card::after {
    content: 'BwShop';
    position: absolute;
    bottom: 20px;
    left: 10px;
    font-weight: 900;
    font-size: 4em;
    color: rgba(0, 0, 0, 0.1);
  }
  
  .card .imgBx {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    z-index: 1;
    margin-left: 15px;
  }
  
  .card .imgBx img {
    max-width: 100%;
    transition: 0.5s;
  }
  
  .card:hover .imgBx img {
    max-width: 50%;
  }
  
  .card .contentBx {
    position: relative;
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }
  
  .card .contentBx h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
  }
  
  .card .contentBx .price {
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  .card .contentBx .buy {
    position: relative;
    top: 20px;
    opacity: 0;
    padding: 10px 20px;
    margin-top: 20px;
    color: #ffffff;
    text-decoration: none;
    background: #7e8891;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    white-space: nowrap;
    cursor: pointer;
    
  }

   .container{
    margin-left: 24%;
  }
  
  .card:hover .contentBx .buy {
    top: 0px;
    opacity: 1;
  }
  
  
  @media only screen and (max-width: 1440px) {
   

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 800px;
    margin: 10px auto;
    margin-top: -65%;
}
}

@media only screen and (max-width: 770px) {
   

  .row{
    margin-left: 10%;
    margin-right: 0%;
  }
  
  .card {
    position: relative;
    width: 200px;
    height: 250px;
    background: #122936;
    border-radius: 20px;
    overflow: hidden;
    right: 50px;
    margin: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,10000);
  }

  .card:hover::before {
    transform: skewY(390deg);
    top: -70%;
  }
  
  .card::after {
    content: 'BwShop';
    position: absolute;
    bottom: 5px;
    left: 60px;
    font-weight: 600;
    font-size: 51em;
    color: rgba(0, 0, 0, 0.1);
  }
  
  .card .imgBx {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    z-index: 1;
    margin-left: 38px;
    font-size: 13px;

  }
  .card .contentBx .buy {
    position: relative;
    top: 2%;
    opacity: 0;
    padding: 5px 5px;
    margin-top: 5px;
    color: #ffffff;
    text-decoration: none;
    background: #7e8891;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 13px;
    transition: 0.5s;
    white-space: nowrap;  
    cursor: pointer; 
  }
}

